.chat-area {
  flex: 1;
  overflow-y: auto;
  padding: 1rem;

  display: flex;
  flex-direction: column;
  gap: 0.5rem;

  background: #000;
  padding-bottom: 7rem;
}

.message-bubble {
  text-align: left;
  margin-top: 0.2rem;
  margin-bottom: 0.2rem;
  max-width: 80%;
  padding: 0.6rem 0.9rem;
  border-radius: 12px;
  white-space: pre-wrap;
  word-wrap: break-word;
  font-size: clamp(1rem, 4vw, 1.25rem);
  font-family: Helvetica;
  line-height: 1.4;
  display: inline-block;
  box-shadow: 0 1px 3px rgba(0,0,0,0.4);
  transition: all 0.2s ease;
}

.message-bubble.user {
  align-self: flex-end;
  background-color: #443579;
  color: white;
  border-bottom-right-radius: 0;
  border: none;
}

.message-bubble.agent {
  align-self: flex-start;
  background-color: #212121;
  color: white;
  border-bottom-left-radius: 0;
  border: none;
}

.message-bubble {
  opacity: 0;
  transform: translateY(50px);
  animation: fadeIn 0.5s ease forwards;
}

@keyframes fadeIn {
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.chat-area::-webkit-scrollbar {
  width: 6px;
}
.chat-area::-webkit-scrollbar-thumb {
  background-color: #444;
  border-radius: 4px;
}
.chat-area::-webkit-scrollbar-track {
  background: #111;
}
